
/* Typographie */
/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-style: normal;
}

/* Monserrat Medium */
@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

/*Monserrat SemiBold */
@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
/* Raleway Bold */
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: var(--white);
}
p {
    font-size: 2rem;
    line-height: 1.2;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: var(--white);
    font-size: 7.2rem;
    text-shadow: 2px 2px 6px #00000080;
    padding-left: 2rem;
    padding-top: 2rem;
}
h2 {
    text-align: center;
    font-size: 4.8rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 4rem;   
    margin-bottom: 4rem;
    color: var(--primary-shadow);
}
/* Atomic CSS */
.row {
    display: flex;
}
.column {
    flex-direction: column;
}
.talgi {
    text-align: center;  
}
.jctn {
    justify-content: center;
}
.algi {
    align-items: center;
}
.grid {
    display: grid; 
}
.full {
    width: 100%;
}
.jtsb {
    justify-content: space-between;
}

/* Custom Properties */
:root {
    --primary: #FD7E37;
    --primary-shadow: #331100;
    --primary-light: #663014;
    --grey-darker: #707070;
    --grey: rgba(0, 0, 0, 0.502);
    --grey-light: #00000029;
    --white: #FFFFFF;
}

/* Layout */

.container {
    width: 100%;
    max-width: 142rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
@media screen and (min-width: 20em) {
    .container {
    max-width: 39em;
    }
}
@media screen and (min-width: 36em) {
    .container {
        max-width: 57.6rem;
    }
}
@media screen and (min-width: 48em) {
    .container {
        max-width: 76.8rem;
    }
}
@media screen and (min-width: 62em) {
    .container {
        max-width: 99.2rem;
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 75em) {
    .container {
        max-width: 120rem;
    }
    .list-items {
        font-size: 1.6rem;
    }
}
@media screen and  (min-width: 99.2em) {
    .container {
        max-width: 142rem;
    }
    .list-items {
        font-size: 2rem;
    }
}
 /* header */

 header {
    background-color: var(--primary);
    color: var(--white);
 }
.title,
.list-items {
    text-transform: uppercase;
}
.title {
    font-size: 4.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    font-family: 'Raleway';
}
.list-items {
    padding-right: 4rem;
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
}
nav {
    position: relative;
}
#home > a {
    color: var(--primary);
    background-color: var(--white);
    padding: 1rem 2rem; 
}
/* Nav burger */
.toggle-menu {
    padding: 0.25rem 1rem;
    color: #FFF;
    background-color: rgba(0,0,0,.15);
    border: 0;
    border-radius: 2rem;
    transition: .3s;

}
.toggle-menu img {
    max-width: 3.2rem;
    max-height: 2rem;
}

.toggle-menu:hover,
.toggle-menu:focus {
    background-color: rgba(0,0,0,.35);
}

.menu {
    width: 100%;
	position: absolute;
    flex-direction: column;
	visibility: hidden;
	z-index: 20;
	top: 100%;
	left: 0;
	right: 0;
	background-color: var(--primary);
}
.menu[hidden] {
	display: flex;
	visibility: hidden;
    transform: translateX(-100%);
    transition: transform .5s ease-out, visibility .001s .5s;
}

.menu:not([hidden]) {
	transform: translateX(0);
	transition: visibility .001s, transform .5s .001s ease-in;
}
.menu-link {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.menu-link:hover,
.menu-link:focus {
    background-color: rgba(0,0,0,.25);
    padding: 1rem;
} 
@media screen and (min-width: 32em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .toggle-menu {
        display: inline;
     }
    .menu,
    .menu[hidden] {
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 62em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .toggle-menu {
        display: none;
    }
    .menu,
    .menu[hidden] {
        visibility: visible;
        position: static;
        display: flex;
        transform: translateX(0);
    }
}
 /* Hero */
 .hero {
    background: url(../img/Home-1920/Photo-arriere-plan-result.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    min-height: 72rem;
 }
 section > .container {
    justify-content: flex-end;
    align-content: center;
 }
 .hook {
     margin-top: 24rem;
     justify-content: flex-end;
     background-color: var(--grey);
     align-items: flex-end;
     max-width: 96rem;
 }
 .hook > p {
     font-size: 7.2rem; 

 }
.hero  a {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: var(--primary);
    padding: 2rem 3rem;
    font-size: 4rem;
}
 /* main */
main {
    background-color: var(--white);
}
.cards {
     grid-template-columns: repeat(3, 1fr);
     gap: 3rem;
 }
.cards-content {
    max-width: 41rem;
    box-shadow:  .1rem .1rem 3.5rem var(--grey-light);
    border-radius: 4px 4px 0px 0px;
}
.cards-content-img {
    width: 100%;
}
.cards-title {
    margin-top: 4rem;
    color: var(--primary-shadow);
    font-size: 2.4rem;
    line-height: 1.5;
    font-family: 'Raleway';
}
.cards-text {
    margin-bottom: 2.4rem;
}
.cards-text, .cards-baseline {
    color: var(--primary-shadow);
    font-family: 'Montserrat';
    font-weight: normal;
    line-height: 1.5;
    padding-top: 1.6rem;
}
.cards-baseline > img {
    padding-right: .5rem;
}
.cards-link {
    background-color: var(--primary);
    justify-content: center;
    padding: .6rem;
    font-size: 2.4rem;
    font-family: 'Montserrat';
    font-weight: bold;
}
.cards-link > img {
    padding-left: 1rem; 
}
article >
p,
article >
a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/* section students */

.students-section {
    background-color: var(--primary);
    color: var(--white);
}
.students-section h2 {
    padding-top: 4rem;
    color: var(--white);
}
.students-profiles {
    grid-template-columns: repeat(4, 1fr);
}
.students {
    text-align: center;
    align-items: center
}
.students img {
    max-width: 22rem;
    margin-bottom: 2rem;
}
.students-name {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.students > a {
    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Montserrat';
    text-decoration: underline;
    margin-bottom: 4.3rem;
}
/* section modules */

.modules-grids {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.modules-cards {
    margin-bottom: 4rem;
    box-shadow:  .1rem .1rem 3.5rem var(--grey-light);
    border-radius: 4px 4px 0px 0px;
}
.modules-cards > img {
    width: 100%;
}
.modules-cards > .cards-text {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* footer */
footer {
    background-color: var(--primary);
    color: white;
}
.grids-footer {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.footer-list{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.footer-list-items > p  {
    margin-bottom: 1rem;
    font-family: 'Montserrat';
    font-weight: normal;
}
.legal-space > a > p {  
    font-size: 1.6rem;
}
.legal-space {
    margin-left: auto;
    margin-right: auto;
}
#space {
    margin-left: 1rem;
}
.social-media {
    margin-left: auto;
    margin-right: auto;    
}
.social-media li {
    margin-right: 7rem;
}