
/* Typographie */
/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-style: normal;
}

/* Monserrat Medium */
@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

/*Monserrat SemiBold */
@font-face {
    font-family: 'Monserrat';
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
/* Raleway Bold */
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/static/Raleway-SemiBold.ttf);
}
/* Custom Properties */
:root {
    --primary: #FD7E37;
    --primary-shadow: #331100;
    --primary-light: #663014;
    --grey-darker: #707070;
    --grey: rgba(0, 0, 0, 0.502);
    --grey-light: #00000029;
    --white: #FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: var(--white);
}
p {
    font-size: 2rem;
    line-height: 1.2;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: var(--white);
    font-size: 7.2rem;
    text-shadow: 2px 2px 6px #00000080;
    padding-left: 2rem;
    padding-top: 2rem;
}
h2 {
    text-align: center;
    font-size: 4.8rem;
    font-family: 'Raleway', sans-serif;
    padding-top: 4rem;
    margin-bottom: 4rem;
    color: var(--primary-shadow);
}
a:focus,
button:focus {
    background-color: var(--primary-light);
    color: yellow;
}
.primary-shadow {
    color: var(--primary-shadow); /* Pour appliqué des properties sur les h1 des autres pages sans avoir a refaire une classe entiere pour chacun*/
    text-align: center;
    font-size: 4.8rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 4rem;   
    margin-bottom: 4rem;
    color: var(--primary-shadow);
    text-shadow: none;
}

/* Atomic CSS */
.row {
    display: flex;
}
.column {
    flex-direction: column;
}
.talgi {
    text-align: center;  
}
.jtcn {
    justify-content: center;
}
.algi {
    align-items: center;
}
.grid {
    display: grid; 
}
.full {
    width: 100%;
}
.jtsb {
    justify-content: space-between;
}

/* Layout */

.container {
    width: 100%;
    max-width: 172rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container-narrow {
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;

}

/* responsive */

@media screen and (min-width: 20em) {
    .container {
    max-width: 39em;
    }
    .footer-list {
        text-align: center;
    }
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    .cta {
        font-size: 1.4rem !important;
    }
    .cards-link {
        font-size: 1.4rem !important;
    }
    .list-items a {
        font-size: 1.4rem;
    }
    #title, .title {
        font-size: 2.2rem !important;
    }
    .description-list {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .inputs, form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
}
@media screen and (min-width: 36em) {
    .container {
        max-width: 57.6rem;
    }
    .description-list {
        grid-template-columns: repeat(2, 1fr);
    }
 
    .primary-shadow {
        font-size: 3rem;
    }
    .text {
        font-size: 1.6rem;
    }
}
@media screen and (min-width: 48em) {
    .container {
        max-width: 76.8rem;
    }
    .cards, .modules-grids {
        grid-template-columns: repeat(1, 1fr);
    }
    .students-profiles {
        grid-template-columns: repeat(2 , 1fr);
    }
    .grids-footer {
        grid-template-columns: repeat(1, 1fr);
    }
    h1 {
        font-size: 7.8rem;
    }
    h2 {
        font-size: 4.8rem;
    }
    .cards-link {
        font-size: 2.4rem !important;
    }
    .cta {
        font-size: 4rem !important;
    }
    #title, .title {
        font-size: 4.8rem !important;
    }
    .description-list {
        grid-template-columns: repeat(4, 1fr);
    }
    .inputs, form {
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
    }
    .primary-shadow {
        font-size: 4.8rem;
    }
    .text  {
        font-size: 2rem;
    }
}
@media screen and (min-width: 62em) {
    .container {
        max-width: 99.2rem;
        font-size: 1.4rem;
    }
    .cards, .modules-grids{
        grid-template-columns: repeat(2, 1fr);
    }
    .cards article:nth-child(3) {
        grid-column: 1/3;
    }
    .students-profiles {
        grid-template-columns: repeat(4 , 1fr);
    }
    .grids-footer {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-list {
        text-align: start;
    }
    .list-items a {
        font-size: 1.2rem;
    }
    
}
@media screen and (min-width: 75em) {
    .container {
        max-width: 126rem;
    }
    .list-items {
        font-size: 1.4rem;
    }
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .cards article:nth-child(3) {
        grid-column: 3/3;
    }
    .list-items a {
        font-size: 2rem;
    }
}
@media screen and  (min-width: 99.2em) {
    .container {
        max-width: 142rem;
    }
    .list-items {
        font-size: 2rem;
    }
}
@media screen and  (min-width: 120em) {   /* Je met ce breakpoints pour les grands écran ayant moi même un 32" 2560x1440*/
    .container {
        max-width: 160rem;
    }
    .list-items {
        font-size: 2rem;
    }
}
@media screen and  (min-width: 140em) {   /* Je met ce breakpoints pour les grands écran ayant moi même un 32" 2560x1440*/
    .container {
        max-width: 172rem;
    }
    .list-items {
        font-size: 2rem;
    }
}


 /* header */

 header {
    background-color: var(--primary);
    color: var(--white);
 }
.title,
.list-items {
    text-transform: uppercase;
}
.title {
    font-size: 4.8rem;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    font-family: 'Raleway', sans-serif;
}
.list-items {
    padding-right: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
}
#home > a {
    color: var(--primary);
    background-color: var(--white);
    padding: 1rem 2rem; 
}


/* Nav burger */
.toggle-menu {
    background-image: url(../img/Home-1920/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 3rem;
    color: #FFF;
    background-color: rgba(11, 11, 11, 0.2);
    border: 0;
    border-radius: 2rem;
    transition: .3s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.toggle-menu img {
    display: block;
    max-width: 3.2em;
    max-height: 2rem;
}

.toggle-menu:hover,
.toggle-menu:focus {
    background-color: var(--primary-light);
}

.menu {
	position: absolute;
	z-index: 30;
	left: 0;
	right: 0;
	background-color: var(--primary);
}
.menu[hidden] {
	display: flex;
	visibility: hidden;
    transform: translateX(-100%);
    transition: transform .5s ease-out, visibility .001s .5s;
}

.menu:not([hidden]) {
    top: 9%;
	transform: translateX(0);
	transition: visibility .001s, transform .5s .001s ease-in;
    
}
.menu-link {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.menu-link:hover,
.menu-link:focus {
    background-color: rgba(0,0,0,.25);
    padding: 1rem;
} 
@media screen and (min-width: 20em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .toggle-menu {
        display: inline;
     }
    .menu,
    .menu[hidden] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu:not([hidden]) > .list-items {
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 32em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .toggle-menu {
        display: inline;
     }
    .menu,
    .menu[hidden] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .menu:not([hidden]) > .list-items {
        margin-left: 1rem;
        margin-bottom: 3rem;
    }
}
@media screen and (min-width: 62em) { /* Indiquer les mesures en em avec une base de 16px - Ex : 576/16 = 36em*/
    .toggle-menu {
        display: none;
    }
    .menu,
    .menu[hidden] {
        visibility: visible;
        position: static;
        display: flex;
        transform: translateX(0);
        flex-direction: row;
        align-items: center;
    }
    .menu:not([hidden]) > .list-items {
        margin-left: 0;
        margin-bottom: 0;
    }
}
/* @media screen and (min-width: 62em) {
    .
} */
 /* Hero */
 .hero {
    background: url(../img/Home-1920/Photo-arriere-plan-result.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100%;
    min-height: 72rem;
 }
 section > .container {
    justify-content: flex-end;
    align-content: center;
 }
 .hook {
     margin-top: 24rem;
     justify-content: flex-end;
     background-color: var(--grey);
     align-items: flex-end;
     max-width: 96rem;
 }
 .hook > p {
     font-size: 7.2rem; 

 }
.hero  a {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: var(--primary);
    padding: 2rem 3rem;
    font-size: 4rem;
}
 /* main */
main {
    background-color: var(--white);
}
.cards {
     gap: 3rem;
     margin-bottom: 4rem;
 }
.cards-content {
    max-width: 100%;
    box-shadow:  .1rem .1rem 3.5rem var(--grey-light);
}
.cards-content-img {
    width: 100%;
}
.cards-title {
    margin-top: 4rem;
    color: var(--primary-shadow);
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: normal;
    font-family: 'Raleway',sans-serif;
}
.cards-text {
    margin-bottom: 2.4rem;
}
.cards-text, .cards-baseline {
    color: var(--primary-shadow);
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    padding-top: 1.6rem;
}
.cards-baseline > img {
    padding-right: .5rem;
}
.cards-link {
    background-color: var(--primary);
    justify-content: center;
    padding: .6rem;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: .0rem .0rem .4rem .4rem;

}
.cards-link > img {
    padding-left: 1rem; 
}
article >
p,
article >
a,
article > h3 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
/* section students */

.students-section {
    background-color: var(--primary);
    color: var(--white);
}
.students-section h2 {
    padding-top: 4rem;
    color: var(--white);
}
.students {
    text-align: center;
    align-items: center
}
.students img {
    max-width: 22rem;
    margin-bottom: 2rem;
}
.students-name {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.students > a {
    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    margin-bottom: 4.3rem;
}
/* section modules */

.modules-grids {
    gap: 2rem;
}
.modules-cards {
    margin-bottom: 4rem;
    box-shadow:  .1rem .1rem 3.5rem var(--grey-light);
    border-radius: 4px 4px 0px 0px;
}
.modules-cards > img {
    width: 100%;
}
.modules-cards > .cards-text {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* footer */
footer {
    background-color: var(--primary);
    color: white;
}
.grids-footer {
    gap: 3rem;
}
.footer-list{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.footer-list-items > p  {
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.legal-space > a > p {  
    font-size: 1.6rem;
}
.legal-space {
    margin-left: auto;
    margin-right: auto;
}
#space {
    margin-left: 1rem;
}
.social-media {
    margin-left: auto;
    margin-right: auto;    
}
.social-media li {
    margin-right: 7rem;
}
.footer-list-items > .bold {
    font-weight: bold;
}





/*Page La formation*/

.text-page-bis {
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    margin-bottom: 4rem;
    font-style: normal;
    font-weight: 100;
    color: var(--primary-shadow);
}


/* Page Les étudiants */
.students-bis > p {
    margin-top: 2rem;
    font-weight: 600;
}
.students-bis > a {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    margin-bottom: 4.3rem;
}



/* page contactez-nous */
.inputs {
    margin-bottom: 5rem;
}
input {
    margin-top: 1rem;
    margin-right: 1rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 27em;

}
textarea {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    resize: none;
}
form {
    margin-top: 14rem;
}
::placeholder {
    font-style: italic;
}
.submit-btn {
    margin-top: 1rem;
    justify-content: flex-end;
    margin-bottom: 4rem;
}
.submit-btn > button {
    background-color: var(--primary);
    border: 0;
    border-radius: .4rem;
    color: var(--white);
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
}
.submit-btn img {
    margin-left: 2rem;
}

/* hover global */

a:hover,
a > p:hover,
button:hover {
    background-color: var(--primary-light);
    transition: .3s;
    color: var(--white);
}
.students-bis > a:hover,
.students > a:hover {
     background-color: transparent;
     color: var(--primary-shadow);
}
.students-bis img:hover,
.students img:hover {
    opacity: .6;
    transition: .3s;
}
.title-hover:hover,
.title-hover > p:hover {
    background-color: transparent;
    color: var(--primary-light);
}
#home:hover {
    opacity: .8;
    transition: .3s;
}
.social-media > a:hover {
    background-color: transparent;
    color: var(--primary-light);
}
#tel:hover {
    opacity: .8;
    transition: .3s;
}

/* confidential page*/
.text {
    line-height: 1.5;
    margin-bottom: 4rem;
    color: var(--primary-shadow);
}



/* profile page*/


.profile-picture {
    margin-top: 4rem;
    max-width: 40rem;
    max-height: auto;
}
.label-description {
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: var(--primary-shadow);
    margin-bottom: 2rem;
}
.description-text {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: var(--primary-shadow);
    padding-left: 1rem;
    margin-bottom: 4rem;
}
.description-text-bis {
    font-size: 2.4rem;
    line-height: 1.5;  
}

/* article page */

.article {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.baseline {
    font-size: 1.6rem;
    margin-bottom: 4rem;
}
.article-info > p {
    margin-left: 6rem;
    margin-right: 6rem;   
}

/* modules page */

.hero-module {
    background-image: url(../img/Home-1920/Photo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem;
}
.title-module {
    text-align: center;
    font-size: 4.8rem;
    font-family: 'Raleway', sans-serif;
    padding-top: 4rem;
    margin-bottom: 4rem;
    color: var(--white);
}
.text-box {
    margin-top: 4rem;   
}

/*Pagination */

.pagination a {
    color: var(--primary);
    padding: .8rem 1.6rem;
    text-decoration: none;
    transition: background-color .3s;
    margin-bottom: 4rem;
    border: .1rem solid #FD7E37;
    border-radius: .5rem;
}
.pagination a:nth-last-child(2n) {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.pagination a.active {
    background-color: var(--primary);
    color: white;
    border-radius: .8rem;
}
.pagination a:hover:not(.active),
.pagination a:focus:not(.active) {
    background-color: var(--primary);
    color: var(--white);
}
